.header-categories{
  display: flex;
  text-align: center;
  column-gap: 2px;
  
}
.women,.men,.shoes{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: #7b7883;
  color: white;
  font-weight: bold;
}
.women{
  flex: 1;
    height: 50px;
 

}
.men{
  flex: 1;
  height: 50px;
  background-color:#e4b0b4;
}
.shoes{
  flex: 1;
  height: 50px;
}
.h1{
  text-align: center;
  margin: 0;
  padding: 30px;
}
.product-grid{
  display: grid;
  grid-template-columns:200px 1fr 1fr 1fr 1fr 200px ;
  column-gap:10px;
}
.product-image{
  width: 100%;
  margin: 0;
  margin-top: 20px;
}

.product-description p{
  text-align: center;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 13px;
}
.men-apparel{
  background-color: #F2D7D9;
}
.top{
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 0px;
  height: 0px;
  padding: 5px;
  padding-right: 10px;
  background-color: rgba(255, 255, 255, 0%);
  border: none;
  cursor: pointer;
 

}
.top img{
  width: 30px;
  
}